*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  text-align: center;
  margin-bottom: 72px;
}

.page-header {
  border-bottom: 1px solid #e7e7e7;
  padding: 24px 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.web {
  color: #4d5ae5;
}

.studio {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  position: relative;
  display: inline-block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;

  background-color: #404bbf;
  border-radius: 2px;
}
.contact-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.contact-link:hover {
  color: #404bbf;
}

.contact-info {
  font-style: normal;
  margin-left: auto;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.contact-link {
  color: #434455;
  letter-spacing: 0.02em;
}

.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/7c8d46d47e83b6c8ee4603ea892aa8aaebb3c5fe.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440;
  height: 600px;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: #fff;
  margin-bottom: 48px;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 16px 32px;
  background-color: #4d5ae5;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #404bbf;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list li {
  flex-basis: calc((100% - 72px) / 4);
}

.features-list h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.features-list p {
  font-size: 16px;
  font-weight: 400;
}

.team-section {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-item {
  background-color: #fff;
  border-radius: 4px;
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.team-card-content {
  padding: 32px 0;
  text-align: center;
}

.team-card-content h3 {
  margin-bottom: 8px;
}

.portfolio-section {
  text-align: center;
}
.portfolio-item {
  background-color: #fff;
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding: 40px 32px;

  background-color: rgba(77, 90, 229, 1);
  color: #ffffff;

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list li {
  flex-basis: calc((100% - 48px) / 3);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.04),
    0px 1px 1px rgba(46, 47, 66, 0.08), 0px 1px 6px rgba(46, 47, 66, 0.04);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list li:hover {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-card-content {
  padding: 32px 16px;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  text-align: left;
}

.portfolio-card-content h3 {
  margin-bottom: 8px;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
}

.studio-light {
  color: #f4f4fd;
}

.footer-logo-text {
  margin-right: 120px;
}

.footer-text {
  color: #f4f4fd;
  width: 264px;
  margin-top: 16px;
}
.features-icon-container {
  display: flex;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  align-items: center;
  justify-content: center;
}
.social-media ul {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.footer-social-media p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
}
.footer-social-media ul {
  display: flex;
  gap: 16px;
  align-items: end;
}
.footer-social-media p {
  margin-bottom: 10px;
}

.social-link {
  --color1: #4d5ae5;
  --color2: #f4f4fd;
}

.social-link:hover {
  --color1: #31d0aa;
  --color2: #ffffff;
}
